#div1 {
    background-color: blue;
    width: 500px;
    height: 500px;
    float: left;
    margin: 10px;
}

#div2 {
    background-color: yellow;
    padding: 10px;
}

#div3 {
    background-color: red;
    padding: 10px;
    clear: left;
}