/* Unvisited link */
a:link {
    color: #8888db;
    text-decoration: none;
}

/* Visited link */
a:visited {
    color: purple;
}

/* Mouse over link */
a:hover {
    color: #ce0808;
    text-decoration: underline;
    background-color: yellow;
}
/* Selected link */
a:active {
    color: blue
}