.txtcolor {
    color: red;
}

.txtspacing {
    letter-spacing: 10px;
}

.wordspacing {
    word-spacing: 10px;
}

.txtalign {
    text-align: center; /* left, right, justify */
}

.txtdeco {
    text-decoration: line-through; /* underline, overline */
}

.txttrans {
    text-transform: uppercase; /* lowercase, capitalize */
}