.txtcolor {
    color: red;
}

.txtspacing {
    letter-spacing: 10px;
}

.wordspacing {
    word-spacing: 10px;
}

.txtalign {
    text-align: center; /* left, right, justify */
}

.txtdeco {
    text-decoration: line-through; /* underline, overline */
}

.txttrans {
    text-transform: uppercase; /* lowercase, capitalize */
}

.txtstyle {
    font-family: Geneva, Verdana, sans-serif;
    font-size: large; /* xx-small, x-small, small, medium, large, x-large, xx-large */
    font-style: italic; /* italic, normal, oblique */
    font-weight: normal; /* bold, normal*/
    line-height: 200%; /* 1.0, 1.5, 2.0 */
}

.myborder {
    border: 4px;
    border-color: blue;
    border-style: dashed;
}